/*********************
General
**********************/

body {
    font-family: 'Oxygen', sans-serif;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

/*********************
HEADING
**********************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

/*********************
NAVIGATION
**********************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/*********************
FOOTER
**********************/
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/*********************
PAGE: PORTFOLIO
**********************/

#wrapper header {
    background: #fff;
    border-color: #fff;
    text-align: center;

}

#wrapper h1 {
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.975em;
    text-transform: uppercase;
    margin-top: -0.5em;
    color: #000;
}

#wrapper h2 {
    font-size: 1.45em;
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: -1.375em;
    color: #000;

}

#wrapper article img {
    width: 7.75em;
    height: 7.75em;
    border: 0.625em solid #eee;
    -webkit-box-shadow: 0 0 0.313em rgba(0, 0, 0, .05);
    box-shadow: 0 0 0.313em rgba(0, 0, 0, .05);
    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #bdc3c7;
}

/*********************
Lightbox
**********************/

#imagelightbox {
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, .75);
    box-shadow: 0 0 3.125em rgba(0, 0, 0, .75);
}

#imagelightbox-caption {
    text-align: center;
    color: #fff;
    background-color: #666;
    position: fixed;
    z-index: 10001;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.625em;
}

/*********************
PAGE: ABOUT
**********************/
.about h3 {
    text-align: center;
}

.latestBadges {
    text-align: center;
}

.profile-photo {
    display: block;
    max-width: 50%;
    margin: 0 auto 30px;
    border-radius: 10px;
}

ul.badges {
    margin: 0;
    padding-left: 0;
    list-style: none;
    height: 305px;
    overflow: auto;
}

.badgesImg {
    display: inline-block;
    margin: 2.5%;
    width: 28%;
    vertical-align: top;
}

.badgesImg img {
    display: block;
    width: 100%;
    margin: auto;
}

.badgesDate {
    display: none;
}

.badgesName {
    display: block;
    margin: auto;
    padding: 5%;
    text-align: center;
    font-size: 0.75em;
}

#highcharts {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.donut {
    padding-top: 15px;
}

.mobile-grid {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
/*********************
PAGE: CONTACT
**********************/

.general_info {
    text-align: center;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png')
}

.contact-info li.mail a {
    background-image: url('../img/mail.png')
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png')
}

.required {
    text-align: center;
    font-size: 1em;
    color: #0493bd;
}

    /*********************
    FROM
    **********************/

    #feedback-page {
        text-align: center;
    }

    #form-main {
        width: 100%;
        float: left;
        padding-top: 0;
    }

    #form-div {
        background-color: rgba(72, 72, 72, 0.4);
        left: 3%;
        width: 93%;
        padding: 3% 3% 3% 3%;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
}

    .feedback-input {
        color: #3c3c3c;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 18px;
        border-radius: 0;
        line-height: 22px;
        background-color: #fbfbfb;
        padding: 13px 13px 13px 54px;
        margin-bottom: 10px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid rgba(0, 0, 0, 0);
    }

    .feedback-input:focus {
        background-color: #fff;
        box-shadow: 0;
        border: 3px solid #3498db;
        color: #3498db;
        outline: none;
    }

    .focused {
        color: #30aed6;
        border: #30aed6 solid 3px;
    }

    /* Icons ---------------------------------- */
    .name input {
        background: #fbfbfb url('../img/name.svg') no-repeat 11px 8px;
        background-size: 30px 30px;
    }
    
    .name:focus {
        background: #fbfbfb url('../img/name.svg') no-repeat 11px 8px;
        background-size: 30px 30px;
    }
    
    .email input {
        background: #fbfbfb url('../img/email.svg') no-repeat 11px 8px;
        background-size: 30px 30px;
    }
    
    .email:focus {
        background: #fbfbfb url('../img/email.svg') no-repeat 11px 8px;
        background-size: 30px 30px;
    }
    
    .text textarea {
        background: #fbfbfb url('../img/comment.svg') no-repeat 11px 8px;
        background-size: 30px 30px;
    }
    
    textarea {
        width: 100%;
        height: 150px;
        line-height: 150%;
        resize: vertical;
    }
    
    input:hover, textarea:hover,
    input:focus, textarea:focus {
        background-color: white;
    }
    
    #button-blue {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        float: left;
        width: 100%;
        border: #fbfbfb solid 4px;
        cursor: pointer;
        background-color: #3498db;
        color: white;
        font-size: 24px;
        padding-top: 22px;
        padding-bottom: 22px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: -4px;
        font-weight: 700;
    }
    
    #button-blue:hover {
        background-color: rgba(0, 0, 0, 0);
        color: #0493bd;
    }
    
    .submit:hover {
        color: #3498db;
    }
    
    .ease {
        width: 0;
        height: 74px;
        background-color: #fbfbfb;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
        transition: .3s ease;
    }
    
    .submit:hover .ease {
        width: 100%;
        background-color: white;
    }
    

/*********************
COLORS
**********************/

/* site body */
body {
    background-color: #fff;
    color: #999;
}

/* Green header */
header {
    Background: #076BAC;
    border-color: #04385B;
}

/* Nav background on mobile  */
nav {
    background: #054C7A;
}

/* Logo text */
h1, h2 {
    color: #fff;
}

/* links */
a {
    color: #054C7A;
}

/* Nav link  */
nav a, nav a:visited {
    color: #04385B;
}

/* Selected Nav link  */
nav a.selected, nav a:hover {
    color: #fff;
}



/***********************
404 PAGE
***********************/

.page-404 * {
    line-height: 1.2;
    margin: 0;
}

.page-404 {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

.page-404 body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
    overflow: hidden;
}

.page-404 h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}

.page-404 p {
    margin: 0 auto;
    width:80%;
    max-width:500px;
}

.zerglick {
    background: url('../img/gif_zergling_lick.gif') no-repeat;
    background-size: 100%;
    position: fixed;
    left: 0;
    bottom: -14px;
    width: 75px;
    height: 100px;
}

.zergpants {
    background: url('../img/gif_ling_pants.gif') no-repeat;
    position: fixed;
    background-size: 100%;
    right: 0;
    width: 150px;
    height: 100px;
    bottom: -14px;
}



/***************************
 RESPONSIVE
 **************************/

@media screen and (min-width: 480px) {

    /*********************
    TWO COLUMN LAYOUT
    **********************/

    #primary {
        width: 50%;
        float: left;
    }

    #secondary {
        width: 40%;
        float: right;
    }

    /*********************
    PAGE: PORTFOLIO
    **********************/

    #gallery li {
        width: 28.3333%
    }

    #gallery li:nth-child(4n) {
        clear: left;
    }

    /*********************
    PAGE: ABOUT
    **********************/

    .profile-photo {
        float: left;
        margin: 0 6% 80px 0;
    }

    .latestBadges {
        display: inline-block;
    }

    .badgesImg img {
        display: block;
        width: 60%;
        margin: auto;
    }

    ul.badges {
        height: 400px;
        overflow: auto;
    }

}

@media screen and (min-width: 660px) {

    /***********************
    404 Page
    ***********************/
    
    .page-404 body {
        padding-bottom: 50px;
        vertical-align: bottom;
    }

    .overlord {
        position: absolute;
        background: url('../img/overlord.png') no-repeat;
        width: 450px;
        height: 750px;
        background-size: 90%;
        margin-left: -170px;
    }

    .content {
        position: relative;
        z-index: 4;
    }

    .zerglick {
        background: url('../img/gif_zergling_lick.gif') no-repeat;
        position: fixed;
        left: 0;
        bottom: -5px;
        width: 200px;
        height: 200px;
    }

    .zergpants {
        background: url('../img/gif_ling_pants.gif');
        position: fixed;
        right: 0;
        width: 300px;
        height: 200px;
        bottom: -14px;
    }

    /*********************
    HEADER
    **********************/

    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }

    nav a, nav a:visited {
        color: #054C7A;
    }

    nav a.selected, nav a:hover {
        color: #fff;
    }

    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }

    header {
        border-bottom: 5px solid #04385B;
        margin-bottom: 60px;
    }

    /*********************
    PAGE: ABOUT
    **********************/
    .wrapAbout {
        margin-bottom: 20%;
    }

    .about {
        padding-bottom: 5px;
    }

    .profile-photo {
        float: left;
        margin: 0 6% 80px 0;
        width: 60%;
    }

    ul.badges {
        height: 410px;
        overflow: auto;
    }

    .badgesImg {
        width: 20%;
    }

    /************************
    PAGE: CONTACT
    ************************/

    #form-div {
        padding: 35px 35px 50px 35px;
        width: 450px;
        float: left;
        left: 50%;
        position: relative;
        margin-top: 30px;
        margin-left: -260px;
    }
}