#Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^lionel-sellam.io[nc]
RewriteRule ^(.*)$ http://www.lionel-sellam.io/$1 [r=301,nc]

#Caching schema
<FilesMatch "\.(jpg|png|css|js)$">
Header set Cache-Control "public, max-age=36288000"
</FilesMatch>

#Custom 400 errors
ErrorDocument 400 http://lionel-sellam.io/400.html

#Custom 401 errors
ErrorDocument 401 http://lionel-sellam.io/401.html

#Custom 403 errors
ErrorDocument 403 http://lionel-sellam.io/403.html

#Custom 404 errors
ErrorDocument 404 http://lionel-sellam.io/404.html

#Custom 500 errors
ErrorDocument 500 http://lionel-sellam.io/500.html

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Prevent directory listings
Options All -Indexes
